@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
a{
    transition: 0.3s;
}
*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
    display:flow-root;
}
.logo{
    float: left;
    display:flow-root;
}
.logo a img {
    margin-top: 47px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-area{
    border-top: 5px solid #4672d7;
    min-height: 120px;
}
.main-manu{ 
    display: inline-block;
    margin-left: 317px;
    
}
.main-manu ul {
}
.main-manu ul li{
    display: inline-block;
    margin-left: 40px;
    position: relative;
}
.main-manu ul li a{
    text-decoration: none;
    color: #666666;
    font-size: 15px;
    padding:50px 0;
    display: block;
}
.main-manu ul li:hover>a{
    color: #4272d7;
}

/* submanu */

.main-manu ul li ul.submenu{

    position: absolute;
    background:black none repeat scroll 0 0;
    width: 260px;
    border-top: 5px solid #4272d7;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.main-manu ul li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-manu ul li ul.submenu li{
    margin: 0;
    display: block;
}
.main-manu ul li ul.submenu li a{
    color: #fff;
    font-size: 13px;
    padding:15px 20px;
}
.main-manu ul li ul.submenu li a:hover{
    background:#4272d7 ;
    padding-left: 30px;
}
.main-manu ul li ul.submenu li ul.submenu{
 left: 100%;
 top: 0;
 opacity: 0;
 visibility: hidden;
}
.main-manu ul li ul.submenu li:hover ul.submenu{
opacity:1;
visibility: visible;
}














































/* .submanuStart{
    position: relative;
}
.submenu{
    position: absolute;
    background:black;
    width: 260px;
    border-top: 5px solid #4272d7;
    top: 100%;
    left: 0;
}
ul.submenu li{
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 2px solid #1e2128;
}
ul.submenu li a{
  padding: 15px 25px;
  color: #fff;
  display: block;
  font-size: 13px; 
} */